@tailwind base;
@tailwind components;
@tailwind utilities;

.truncate-custom {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
